<div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <h2>List of Students</h2>
        <ul>
          <li *ngFor="let student of students">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ student.firstName }}</mat-card-title>
                <mat-card-subtitle>{{ student.email }}</mat-card-subtitle>
                <mat-card-subtitle>{{ student.age }}</mat-card-subtitle>
                <mat-card-subtitle>{{ student.city }}</mat-card-subtitle>
            </mat-card-header>
            </mat-card>
          </li>
        </ul>
      </div>
    </div>
  </div>